@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trispace&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #072638;
}

.container {
    width: 90%;
    margin: 50px auto;
}

.heading {
    text-align: center;
    margin-bottom: 65px;
}

h1 {
    font-family: 'Archivo Black', sans-serif;
    color: #fff;
    cursor: default;
    margin-bottom: 25px;
}

h1#list {
    font-size: 20px;
    margin-bottom: 0px;
}

h1#list.over {
    font-size: 16px;
}

i#logo {
    font-size: 35px;
    color: #072638;
    background: #fff;
    padding: 19px 15px 19px 15px;
    border-radius: 100%;
    box-shadow: 0 0 10px #fff, 0 0 10px #fff;
}

p {
    color: #fff;
    font-family: 'Trispace', sans-serif;
    font-size: 14px;
    margin-bottom: 35px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.card {
    width: 20%;
    background: #fff;
    margin-bottom: 50px;
    border-radius: 50px;
}

.cardh {
    text-align: center;
    padding: 60px 10px;
    background: #0067B0;
    color: #fff;
    border-radius: 50px;
}

.cardb {
    padding: 30px 30px 30px 30px;
    text-align: center;
    font-size: 18px;
}

.cardb .btn {
    display: block;
    border: 3px solid #0067B0;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    color: #0067B0;
    font-family: 'Source Code Pro', monospace;
}

.btn:hover {
    border: 3px solid #0067B0;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    background: #0067B0;
    font-family: 'Source Code Pro', monospace;
}

a#back {
    border: 3px solid #2196f3;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    color: #2196f3;
    font-family: 'Source Code Pro', monospace;
}

a#back:hover {
    border: 3px solid #2196f3;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    background: #2196f3;
    font-family: 'Source Code Pro', monospace;
    box-shadow: 0 0 15px #2196f3;
}

@media screen and (max-width: 1000px) {
    .card {
        width: 40%;
    }
    a#back {
        font-size: 13px;
    }
    .heading {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 620px) {
    .container {
        width: 100%;
    }
    .heading {
        padding: 20px;
        font-size: 20px;
    }
    .card {
        width: 80%;
    }
    a#back {
        font-size: 13px;
    }
    .heading {
        margin-bottom: 50px;
    }
}